$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$darkest-gray: #4c4c4c;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

// clevernote current color scheme:
$fox-red: #750d37;
$bad-blood: #210124;
$mint: #b3dec1;
$light-mint: #e5fcf5;
$white-ish: #fefffe;

$sage: #4D996F;
$forest: #2C523D;

$fox-rose: #FE5B6D;
$begonia: #FE7275;
$charcoal: #2F3F4F;
$maru: #222F65;
$peach: #FCE3B9;
$eggshell: #EBE6D3;

// TESTING COLOURS:
$apricot: #FFCAB1;
$japanese-indigo: #264653;
$pale-aqua: #BFD7EA;
$lavender-mist: #E3DFFF;
$antiflash-white: #EFF1F3;
$timberwolf: #DBD3D8;
$lavender-gray: #CBC0D3;
$bright-navy: #2D7DD2;
$almond: #EFD9CE;
$columbia-blue: #C5D5EA;
$crayola-blue: #3772FF;
$seafoam: #028090;

// Test Scheme 1: fox-rose, maru, antiflash-white, timberwolf, lavender-gray
// Test Scheme 2: fox-rose, maru, bright-navy, pale-aqua, antiflash-white
