// 'https://fonts.googleapis.com/css?family=Amaranth|Cabin|Lobster|Lobster+Two|Titillium+Web'



$serif: serif;
$sans-serif: 'Titillium Web', helvetica, sans-serif;

$amaranth: 'Amaranth', sans-serif;
$titillium: 'Titillium Web', sans-serif;
$lobster: 'Lobster', cursive;
$lobster-two: 'Lobster Two', cursive;
$cabin: 'Cabin', sans-serif;
