.home-main-content {
  height: calc(100% - 80px);
}

.splash-image {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.splash-image-text-overlay {
  h1 {

    font-size: 4vw;
  }
  position: absolute;
  top: 40vh;
  z-index: 1;
  width: 100%;
  text-align: center;
}
