$main-page-header-height: 60px;

.main-page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: $antiflash-white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
  height: $main-page-header-height;
  border-bottom: 1px solid $charcoal;
  box-sizing: border-box;
}

.home-link {
  display: flex;
  flex-direction: row-reverse;

  h1 {
    color: $fox-rose;
    padding-top: 10px;
    transition: color 0.3s;
  }
}

.home-link:hover {
  text-decoration: none;

  h1 {
    color: $bright-navy;
  }
}

.main-page-logo {
  width: auto;
  height: 50px;
  padding-right: 10px;
}

.login-signup, .header-group {
  display: inherit;
  flex-direction: row;
  margin: 9px 0px 8px;
}

.hamburger-menu {
  display: none;
}

.button, .demo-button {
  position: relative;
  // top: 6px;
  height: auto;
  width: 80px;
	background-color: $fox-rose;
	color: $white-ish;
	font-weight: bold;
	padding: 8px;
  margin-left: 10px;
	border-radius: 5px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
}

.button:hover, .demo-button:hover {
  text-decoration: none;
	background-color: $bright-navy;
}

.demo-button {
  background-color: $maru;
}

.header-group .button {
  margin-left: 20px;
}

.footer {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100vw;
  background: $light-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;

  p {
    vertical-align: middle;
  }
}

.footer-links {
  width: 70px;
  display: flex;
  justify-content: space-between;
  color: $maru;

  i {
    font-size: 30px;
  }
}

/* Flashing Hover */
.footer-links i:hover {
  text-decoration: none;
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


@media all and (max-width: 700px) {
  .login-signup {
    display: none;
  }

  .hamburger-menu {
    font-size: 35px;
    color: $fox-rose;
    display: block;
    margin: 5px 0px;

    i {
      float: right;
    }

    .open {
      position: relative;
      top: 35px;
      left: 30px;
      display: flex;
      flex-direction: row;
    }

    .closed {
      display: none;
    }
  }

  .hamburger-menu-dropdown {
    background-color: $white-ish;
    border: 1px solid $gray;
  }

  .hamburger-menu-dropdown-item {
    font-size: 25px;
    padding: 10px 20px;
    color: $maru;
    border-bottom: 1px solid $light-gray;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }

  .hamburger-menu-dropdown-item:hover {
    box-sizing: border-box;
    // background-color: $sage;
    background-color: $bright-navy;
  }

  .splash-signup-form {
  	position: absolute;
    top: 475px;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px 0px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media all and (max-width: 550px) {
  .splash-signup-form {
    .half-field {
    }
  }
}
