.note-editor {
  box-sizing: border-box;
  width: $note-editor-width;
  height: 100%;
}

.formatting-bar {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $gray;
}

.text-editor-title-input {
  border-bottom: 1px solid $bad-blood;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 30px;
  color: $bad-blood;
  vertical-align: middle;
}

.text-editor-title-input::-webkit-input-placeholder {
  color: $gray;
}

.text-editor-input {
  font-size: 16px;
  width: 100%;
  height: calc(100% - 150px);
  outline: none;
  resize: none;
  overflow: auto;
  padding: 10px;
  text-align: left;
  padding-bottom: calc(100% - 10px);
}

.save-note-button {
  @extend .button;
  width: 100px;
}
