.note-editor {
  box-sizing: border-box;
  width: $note-editor-width;
  height: 100%;

}

.note-info {
  padding: 0px 15px;
  height: 50px;
}

.note-info-items {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.note-notebook-label {
  height: 50px;
  padding-right: 10px;

  h3 {
    font-weight: normal;

    span {
      padding-left: 3px;
      font-weight: bold;
    }
  }
}
// REACTTAGS STYLES

.tag-form {
  height: 50px;

  h3 {
    font-weight: normal;
    padding-left: 20px;
  }
}

.note-info-tags {
  height: 50px;
}

div.ReactTags__tags {

  height: 100%;
  padding: 12px 10px 8px 10px;
  display: inline-block;
}

div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
  padding: 5px;
}

div.ReactTags__tagInputField {
  height: 30px;
  margin: 0;

  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
}

div.ReactTags__selected {

}

div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.active {
  background: #b7cfe0;
}

.formatting-bar {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid $gray;
}

.formatting-bar-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-editor-title-input {
  border-bottom: 1px solid $bad-blood;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  font-size: 36px;
  color: $fox-red;
  vertical-align: middle;
}

.text-editor-title-input::-webkit-input-placeholder {
  color: $gray;
}

.text-editor-input {
  font-size: 16px;
  width: 100%;
  height: calc(100% - 150px);
  outline: none;
  resize: none;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: $white-ish;
  wrap: hard;
}

.save-note-button {
  @extend .button;
  width: 100px;
}
