.note-index {
  box-sizing: border-box;
  border-right: 1px solid $charcoal;
  width: $note-index-width;
  height: 100%;
}

.notes-header {
  border-bottom: 1px solid $charcoal;
  padding: 10px;
  padding-bottom: 0;
  height: 90px;

  h2 {
    margin-bottom: 10px;
  }

  h4 {
    margin: 0;
    padding-bottom: 5px;
    position: absolute;
    top: 70px;
  }

  .delete-button, .add-note-button {
    display: none;
  }
}

.notebook-notes-header, .tag-notes-header {
  h2 {
    padding-top: 10px;
    font-size: 30px;
    overflow: hidden;
    line-height: 35px;
    height: 45px;
  }
}

.note-index-items {
  height: calc(100% - 90px);
  overflow-y: scroll;
}

.note-index-items::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.note-index-items::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.note-index-items::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.note-index-item {
  height: 100px;
  padding: 10px 20px;
  // border-bottom: 1px solid $gray;
  border: 4px solid transparent;
  box-sizing: border-box;
  transition: border 0.1s;
  // transition: background-color 0.1s;
  overflow: hidden;

  .delete-note-button {
    display: none;
  }

  h3, h5, p {
    margin: 0;
  }

  h3 {
    color: $maru;
    font-size: 17px;
  }

  h5, p {
    color: $charcoal;
  }

  p {
    margin-top: 10px;
    font-size: 15px;
  }

  h5 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.clamped-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.clamped-body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.note-index-item:hover {
  border: 4px solid $fox-rose;
  background-color: $peach;

  .delete-note-button {
    display: block;
  }
}

.bottom-border {
  display: block;
  content: "";
  margin-bottom: 1px;
  border-bottom: 1px solid $gray;
}

.delete-note-button {
  font-size: 20px;
  line-height: 17px;
  float: right;
  color: $charcoal;
  transition: color 0.1s;
}

.delete-note-button:hover {
  color: $maru;
}

.delete-note-modal {
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 150px;
  position: absolute;
  background-color: $white-ish;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  border: 1px solid $charcoal;
  border-radius: 4px;
  font-size: 20px;

  p {
    margin-bottom: 30px;
  }
}

.delete-modal {
  .delete-cancel-button {
    margin: 10px;
    width: 100px;
  }

  .delete-button {
    margin: 10px;
    width: 100px;
  }
}

// NEW NOTEBOOKNOTE BUTTON
.add-notebook-note-button, .add-tag-note-button {
  float: right;
  font-size: 25px;
  color: $fox-rose;
  vertical-align: text-top;
  transition: font-size 0.1s;
}

/* Flashing Hover */
.add-notebook-note-button:hover, .add-tag-note-button:hover i {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
